@require '~vuetify/src/stylus/components/_carousel.styl'

.v-carousel

  &__controls
    background: rgba(0, 0, 0, .75)
    align-items: center
    bottom: 0
    display: flex
    justify-content: center
    left: 0
    position: absolute
    height: 50px
    list-style-type: none
    width: 100%
    z-index: 1
